<div class="container">
  <div class="title">
    <h1>Confirm your selection</h1>
  </div>
  <div>
    <h3>User</h3>
    <p>{{userData.firstName}} {{userData.lastName}}</p>
  </div>
  <div>
    <h3>Email</h3>
    <p>{{userData.email}}</p>
  </div>
  <div>
    <h3>Roles</h3>
    <div *ngIf="roles">
      <div *ngFor="let role of roles">
        <p>- {{role.name}}</p>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button (click)="goBack()">Back</button>
    <button (click)="createUser()">Create</button>
  </div>
</div>